
.login-panel input[type="button"] {
  font-size: 19px;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  border: none;
  text-transform: uppercase;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #1a4f72;
  color: #fff;
  cursor: pointer;
  margin: 10px 0 0 0;
  font-family: 'BioRhyme', serif;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.character-row {
  display: table-cell;
  border-radius: 6px;
  border-color: rgba(30, 67, 91, 0.6);
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  padding: 5px 0 5px;
  background-color: #105858AA;
  cursor: pointer;
  text-align: center;
  width: 80%;
}

.character-row:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.6s;
  background: rgb(34, 140, 190);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  animation: btn-glow 0.6s ease-in-out infinite alternate;
}

.new-char {
  width: 100%;
  background-color: rgba(35, 93, 41, 0.6);
}

.new-char:hover {
  background-color: rgba(36, 124, 38, 0.7);
}

.delete-char {
  width: 12%;
  background-color: rgba(174, 35, 39, 0.6);
}

.delete-char:hover {
  background: rgba(210, 57, 63, 0.6);
}
