.characters-page {
  //display: none;
  width: 420px;
  padding: 8% 0 0;
  margin: auto;
}

.characters {
  display: none;
  color: $text_color;
  position: relative;
  border-radius: 5px;
  z-index: 2;
  background: $container_back_color;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button.char {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  outline: 0;
  text-transform: uppercase;
  padding: 15px 5px 15px 5px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  margin-top: 10px;
}

button.char-empty {
  background: #606f63;
  width: 70%;
  color: #cdcdcd;
}

button.char-name {
  background: $button_back_color;
  width: 70%;
  color: #cdcdcd;
}

button.char-delete {
  background: $alert_back_color;
  width: 15%;
  color: $alert_color;

  margin-left: 10px;
}

button.char-logout {
  background: #dcf5eb;
  width: 90%;
}

button.char-create {
  background: $button_back_color;
  width: 45%;
  color: #cdcdcd;
}

button:hover.char, button:active.char, button:focus.char {
  filter: brightness(110%);
}

button:disabled.char {
  background: repeating-linear-gradient(
                  135deg,
                  #50595d,
                  #50595d 10px,
                  #41484b 10px,
                  #41484b 20px
  );
}