$container_back_color: #b5d8cd;
$alert_back_color: #d2787e;
$alert_color: #6e1c1a;
$button_back_color: #408643;
$button_hover_color: #43A047;
$text_color: #383838;

body {
  padding: 0;
  margin: 0;
  background: #4b6341;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Arial", sans-serif;
}

canvas {
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#login-page {
  display: none;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  border-radius: 5px;
  z-index: 2;
  background: $container_back_color;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  outline: 0;
  background: #a4b1a9;
  color: #222222;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input::placeholder {
  color: #404d40;
}

.form button {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $button_back_color;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #cdcdcd;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: $button_hover_color;
}

.form button:disabled {
  background: repeating-linear-gradient(
                  -55deg,
                  #222,
                  #222 10px,
                  #333 10px,
                  #333 20px
  );
}

.form .message {
  margin: 15px 0 0;
  color: $text_color;
  font-size: 12px;
}

.form .message a {
  color: #313131;
//  text-decoration: none;
}

.form #register-form {
  display: none;
}

.form #login-form {
  display: block;
}

#login-error {
  display: none;
  width: 100%;
  background: $alert_back_color;
  border-radius: 5px;
  color: $alert_color;

  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}

#error-page {
  display: none;
  width: 360px;

  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;

  padding: 45px 10px 10px 10px;

  z-index: 1000;
  background: $alert_back_color;
  border-radius: 5px;
  color: $alert_color;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#error-text {
  width: 100%;
  text-align: center;
}

#error-page button {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #865658;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #cdcdcd;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#error-page button:hover, .form button:active, .form button:focus {
  background: #986264;
}

.main-container {
  //display: none;
  width: 420px;
  padding: 8% 0 0;
  margin: auto;
}

#characters-page {
  display: none;
  color: $text_color;
  position: relative;
  border-radius: 5px;
  z-index: 2;
  background: $container_back_color;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button.char-empty {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  outline: 0;
  background: #606f63;
  width: 70%;
  border: 0;
  padding: 15px 5px 15px 5px;
  color: #cdcdcd;
  font-size: 14px;
  cursor: pointer;

  margin-top: 10px;
}

button.char-name {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  outline: 0;
  background: $button_back_color;
  width: 70%;
  border: 0;
  padding: 15px 5px 15px 5px;
  color: #cdcdcd;
  font-size: 14px;
  cursor: pointer;

  margin-top: 10px;
}

button.char-delete {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $alert_back_color;
  width: 15%;
  border: 0;
  padding: 15px 5px 15px 5px;
  color: $alert_color;
  font-size: 14px;
  cursor: pointer;

  margin-top: 10px;
  margin-left: 10px;
}

button:hover.char-name, button:active.char-name, button:focus.char-name {
  background: $button_hover_color;
}

button:hover.char-empty, button:active.char-empty, button:focus.char-empty {
  background: #6e7f71;
}
