body {
  padding: 0;
  margin: 0;
  background: #19320f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Arial", sans-serif;
}

canvas {
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#login-page {
  display: none;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  border-radius: 5px;
  z-index: 2;
  background: #4a6e4f;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  outline: 0;
  background: #7a7a7a;
  color: #222222;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input::placeholder {
  color: #404d40;
}

.form button {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #408643;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #cdcdcd;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

.form button:disabled {
  background: repeating-linear-gradient(
                  -55deg,
                  #222,
                  #222 10px,
                  #333 10px,
                  #333 20px
  );
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form #register-form {
  display: none;
}

.form #login-form {
  display: block;
}

#login-error {
  display: none;
  width: 100%;
  background: #d2787e;
  border-radius: 5px;
  color: #6e1c1a;

  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}

#characters-page {
  display: none;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

#error-page {
  display: none;
  width: 360px;

  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;

  padding: 45px 10px 10px 10px;

  z-index: 1000;
  background: #d2787e;
  border-radius: 5px;
  color: #6e1c1a;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#error-text {
  width: 100%;
  text-align: center;
}

#error-page button {
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #865658;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #cdcdcd;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#error-page button:hover, .form button:active, .form button:focus {
  background: #986264;
}