.tooltip-stat {
  visibility: hidden;
  //width: 100px;
  background-color: black;
  opacity: 0.6;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;

  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}
.tooltip-game-button {
  visibility: hidden;
  //width: 100px;
  background-color: black;
  opacity: 0.6;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;

  top: -30%;
  right: 90%;
  //margin-left: -20px;
  font-size: 12px;
}