@use "variables" as *;

$inactiveTextColor: #bebebe;
$textColor : #d5eeed;
$linkColor: #7ed0fc;
$linkHoverColor: rgba(65, 238, 238, 0.8);

.padding-all {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  margin-top: -12%;
  width: 36%;
  max-width: 600px;
}

.form-container input {
  font-family: $mainFontName, $secondFont, sans-serif;
}

.login-panel {
  border-radius: 18px;
  padding: 30px 30px 30px;
  text-align: center;
  background: rgba(16, 96, 109, 0.65);
  color: #d5eeed;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

  font-size: 19px;
}

.login-panel input[type="text"], .login-panel input[type="password"] {
  margin-bottom: 25px;
  padding: 8px 10px;
  width: 92.5%;
  outline: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $inactiveTextColor;
  border-radius: 4px;
  font-size: 19px;
  letter-spacing: 1.6px;
  color: $textColor;
}

::placeholder {
  color: $inactiveTextColor;
}

.login-button {
  font-size: 19px;
  padding: 10px 20px;
  letter-spacing: 1.2px;
  border: none;
  text-transform: uppercase;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #1a4f72;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.login-button:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.6s;
  background: rgb(34, 140, 190);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  animation: btn-glow 0.6s ease-in-out infinite alternate;
}

.login-button:disabled {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.6s;
  background: rgb(86, 86, 91);
  color: #838383;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  animation: none;
}


@keyframes btn-glow {
  from {
    box-shadow: 0 0 10px rgba(52, 78, 88, 0.71);
  }
  to {
    box-shadow: 0 0 20px rgba(23, 180, 200, 0.71);
  }
}

.signup-link {
  font-size: 15px;
  color: $inactiveTextColor;
  padding-top: 20px;
  text-align: center;
}

.signup-link a {
  transition: text-shadow 0.4s ease-in-out;
  color: $linkColor;
  text-decoration: none;
}

.signup-link a:hover {
  text-shadow: 0 0 10px $linkHoverColor;
}

.error-message {
  font-size: 16px;
  border-radius: 6px;
  color: #cdd2e0;
  background-color: rgba(252, 13, 13, 0.5);
}
